<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="api.mtg.url" value="https://api.magicthegathering.io/v1/" />
        <add key="api.mtg.card.path" value="cards" />
        <add key="db.location" value="" />
        <add key="db.name" value="mtg.db" />
        <add key="logging.level" value="INFO"/>
    </appSettings>
</configuration>